<div class="columns m-0 p-0" style="min-height: 100vh">
  <div class="column" style="background-color: black">
    <div class="center">
      <form
        class="card transparent"
        style="max-width: 600px"
        #signupForm="ngForm"
        (submit)="otpVerification(signupForm)"
      >
        <header class="card-header px-2">
          <p class="card-header-title title has-text-white">Sign Up</p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="field">
              <label class="label has-text-white" for="name">Name</label>
              <div class="control">
                <input
                  type="text"
                  name="name"
                  class="transparent has-text-white input"
                  required
                  ngModel
                  #name="ngModel"
                />
              </div>
              <!-- <mat-error *ngIf="passwordInput.invalid">
                Please enter a valid password
              </mat-error> -->
            </div>
            <div class="field">
              <label class="label has-text-white" for="phone">Phone</label>
              <div class="control">
                <input
                  type="text"
                  name="phone"
                  class="transparent has-text-white input"
                  required
                  ngModel
                  #phone="ngModel"
                />
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <label class="label has-text-white" for="dob">DOB</label>
                  <div class="control">
                    <input
                      type="date"
                      name="dob"
                      class="transparent has-text-white input"
                      required
                      ngModel
                      #dob="ngModel"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label has-text-white" for="bloodGroup"
                    >Blood Group</label
                  >
                  <div class="control">
                    <input
                      type="text"
                      name="bloodGroup"
                      class="transparent has-text-white input"
                      required
                      ngModel
                      #bloodGroup="ngModel"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label has-text-white" for="email">Email</label>
              <div class="control">
                <input
                  type="email"
                  name="email"
                  class="transparent has-text-white input"
                  required
                  ngModel
                  #email="ngModel"
                  email
                />
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <label class="label has-text-white" for="userType"
                    >User Type</label
                  >
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select
                        name="userType"
                        class="transparent"
                        ngModel
                        #userType="ngModel"
                      >
                        <option>Doctor</option>
                        <option>Kiosk_admin</option>
                        <option>Patient</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label has-text-white" for="gender"
                    >Gender</label
                  >
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select
                        name="gender"
                        class="transparent"
                        ngModel
                        #gender="ngModel"
                      >
                        <option>Non-binary</option>
                        <option>Female</option>
                        <option>Male</option>
                        <option>Undisclosed</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label has-text-white" for="password">
                Password
              </label>
              <div class="control">
                <input
                  type="password"
                  name="password"
                  class="transparent has-text-white input"
                  required
                  ngModel
                  #password="ngModel"
                />
              </div>
            </div>
          </div>
          <div class="control">
            <button class="button is-rounded go" type="submit">Next</button>
          </div>
          <div class="field has-text-grey-light">
            Already have an account?
            <a [routerLink]="['/auth/login']" class="field">Log In</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
