<section *ngIf="!isLoading" style="max-width: 750px; margin: auto">
  <div *ngIf="requests.length > 0; else request">
    <header class="title is-2">Accept Appointment</header>

    <div
      class="card p-3 mt-2 mild-transparent"
      *ngFor="let request of requests; let i = index"
    >
      <div class="columns is-multiline m-0 has-text-centered is-vcentered">
        <div class="column">
          {{ request.appointmentStartTime }}
        </div>
        <div class="column">
          {{ request.appointmentEndTime }}
        </div>
        <div class="column">
          {{ request.creator }}
        </div>
        <div class="column">
          <button
            class="button is-light is-success is-rounded"
            (click)="acceptAppointment(i)"
          >
            Accept
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #request>
    <header class="title is-2">Request Appointment</header>
    <form
      class="card mild-transparent px-4"
      #requestForm="ngForm"
      (submit)="onSubmit(requestForm)"
    >
      <div class="card-content">
        <div class="content">
          <div class="field">
            <label class="label" for="doctors">Doctors</label>
            <ng-select
              [items]="doctors"
              name="selected"
              bindLabel="name"
              placeholder="Select Doctors"
              appendTo="body"
              [multiple]="true"
              required
              ngModel
              #selected="ngModel"
            >
            </ng-select>
          </div>
          <div class="field">
            <label class="label" for="startTime">Start Time</label>
            <div class="control">
              <input
                type="datetime-local"
                name="startTime"
                class="input"
                autocomplete="off"
                required
                ngModel
                #startTime="ngModel"
              />
            </div>
          </div>
          <div class="field">
            <label class="label" for="endTime">End Time</label>
            <div class="control">
              <input
                type="datetime-local"
                name="endTime"
                class="input"
                autocomplete="off"
                required
                ngModel
                #endTime="ngModel"
              />
            </div>
          </div>
          <div class="control">
            <button
              class="button is-rounded go is-inverted is-dark"
              type="submit"
            >
              Request
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</section>
