nav {
  background-color: black;
  min-height: 100%;
  margin: 0;
}

li:hover,
.active {
  background-color: #c3ebeb;
  cursor: pointer;
  box-shadow: 0 0 50px #9ee8e8;
}

li:hover > * > * > * {
  color: black !important;
}

.active > * > * > * {
  color: black !important;
}

.active:hover {
  cursor: default;
}

/* 
.menu-right {
  max-width: 400px;
  min-width: 350px;
  float: right;
} */
