<div class="columns mr-2" style="max-width: 600px">
  <div class="column pr-5">
    <figure class="image is-fullwidth">
      <img
        class="is-rounded"
        src="https://st4.depositphotos.com/1012074/25277/v/600/depositphotos_252773324-stock-illustration-young-avatar-face-with-sunglasses.jpg"
      />
    </figure>
  </div>
  <div class="column">
    <div class="center">
      <p class="title">Shouvit Pradhan</p>
      <p class="subtitle">Somewhere on earth</p>
      <p class="subtitle">#1234</p>
      <p class="buttons">
        <button class="button is-dark">A</button>
        <button class="button is-dark">B</button>
        <button class="button is-dark">C</button>
      </p>
    </div>
  </div>
</div>
