.modal-card {
  height: 520px;
  width: 720px;
}

.modal-card-head {
  background-color: black;
  height: 10px;
}

.send {
  width: 100%;
}

.modal-card-foot,
.modal-card-body {
  background-color: rgba(0, 0, 0, 0.1);
}
