<section class="notification" style="padding: 2vw 5vw; min-height: 100vh">
  <div class="box" style="padding: 3vh 3vw">
    <h1 class="title">Prescription</h1>

    <form [formGroup]="prescriptionForm" (submit)="onSubmitPrescription()">
      <div class="field">
        <label class="label" for="description">Problem Description</label>
        <div class="control">
          <textarea
            class="textarea"
            name="description"
            placeholder="Please describe the patient's problem here."
            rows="3"
            required
            formControlName="description"
          ></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label" for="diagnosis">Diagnosis</label>
        <div class="control">
          <textarea
            class="textarea"
            name="diagnosis"
            placeholder="Please provide the diagnosis here."
            rows="3"
            required
            formControlName="diagnosis"
          ></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label" for="tests">Suggested Tests</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Suggest tests"
            name="tests"
            formControlName="tests"
          />
        </div>
        <p class="help">Seperate different tests with a comma (',').</p>
      </div>

      <div class="field">
        <label class="label" for="medicine-table">Suggested Medicines</label>
        <table
          class="table is-fullwidth has-text-centered"
          formArrayName="medicines"
        >
          <tbody>
            <tr>
              <th>Name</th>
              <th>Dosage</th>
              <th class="py-1">
                <button (click)="addMedicine()" class="button is-info is-light">
                  Add
                </button>
              </th>
            </tr>
            <tr
              *ngFor="let quantity of medicines().controls; let i = index"
              [formGroupName]="i"
            >
              <td>
                <div class="field">
                  <div class="control">
                    <input
                      class="input"
                      name="medicine"
                      type="text"
                      placeholder="Medicine Name"
                      formControlName="medicine"
                      required
                    />
                  </div>
                </div>
              </td>
              <td>
                <div class="field">
                  <div class="control">
                    <input
                      class="input"
                      name="dosage"
                      type="text"
                      placeholder="Medicine Dosage"
                      formControlName="dosage"
                      required
                    />
                  </div>
                </div>
              </td>
              <td>
                <button
                  (click)="removeMedicine(i)"
                  class="button is-danger is-inverted"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="field has-text-centered">
        <p class="control">
          <input type="submit" class="button is-primary" value="Submit" />
        </p>
      </div>
    </form>
  </div>
</section>
