/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.go {
  background-color: white;
  font-weight: bold;
  float: right;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.transparent {
  background-color: transparent;
  margin: auto;
}

.columns,
.column {
  padding: 0;
  margin: 0;
}

.mild-transparent {
  background-color: rgba(255, 255, 255, 0.15);
}
