<section class="py-4">
  <h1 class="title is-2">
    Welcome, Dr. XYZ!
    <button class="button is-primary is-light" style="float: right">
      View Profile
    </button>
  </h1>
  <h3 class="subtitle is-6">Time to wear the sthethoscope!</h3>

  <div class="columns">
    <div class="column">
      <div class="card p-5 mr-2 transparent">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="assets/images/calendar.png" alt="Placeholder image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title">
              25
              <small class="is-size-6 has-text-weight-normal"> / 40 </small>
            </p>
            <p class="subtitle is-7">Today's Appointments</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card p-5 mx-1 transparent">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="assets/images/cancelled-calendar.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title">
              10
              <small class="is-size-6 has-text-weight-normal"> / 40 </small>
            </p>
            <p class="subtitle is-7">Cancelled Appointments</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card p-5 ml-2 transparent">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="assets/images/patients.png" alt="Placeholder image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title"><strong>200</strong></p>
            <p class="subtitle is-7">Total Patients</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-6">
  <h2 class="title is-3 mb-3">Appointments</h2>
  <div class="tabs mb-1">
    <ul>
      <li [ngClass]="{ 'is-active': listingType === ListingType.Day }">
        <a (click)="setListingType(ListingType.Day)">Day</a>
      </li>
      <li [ngClass]="{ 'is-active': listingType === ListingType.Week }">
        <a (click)="setListingType(ListingType.Week)">Week</a>
      </li>
      <li [ngClass]="{ 'is-active': listingType === ListingType.Month }">
        <a (click)="setListingType(ListingType.Month)">Month</a>
      </li>
    </ul>
  </div>
  <div
    class="card p-3 mt-2 mild-transparent"
    *ngFor="let appointment of appointments"
  >
    <div class="columns is-multiline m-0 has-text-centered is-vcentered">
      <div class="column">{{ appointment.from }} - {{ appointment.to }}</div>
      <div class="column is-narrow mx-4">
        <figure class="image is-48x48">
          <img
            class="is-rounded"
            [src]="appointment.image"
            [alt]="appointment.name"
          />
        </figure>
      </div>
      <div class="column is-one-third has-text-left">
        {{ appointment.name }}
      </div>
      <div class="column is-one-fifth">{{ appointment.id }}</div>
      <div class="column">
        <button
          *ngIf="appointment.completed; else startBtn"
          class="button is-rounded is-success"
        >
          <figure class="image is-16x16">
            <img src="assets/images/complete.png" />
          </figure>
          <span class="pl-2">Completed</span>
        </button>
        <ng-template #startBtn>
          <button class="button is-rounded is-black">
            <figure class="image is-16x16">
              <img src="assets/images/start.png" />
            </figure>
            <span class="pl-2">Start</span>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</section>
