.media-content {
  overflow: hidden;
}

.button {
  width: 150px !important;
}

.view-profile {
  float: right;
  border-radius: 40px;
  background: linear-gradient(145deg, #75ecec, #62c7c7);
  box-shadow: 9px 9px 20px #57b1b1, -9px -9px 20px #83ffff;
  border: none;
}
