<section *ngIf="!isLoading" style="max-width: 950px; margin: auto">
  <div *ngIf="isDoctor; else showPatient">
    <section class="py-4">
      <header class="title is-2">
        Welcome, Dr. {{ user.name }}!
        <!-- <button class="view-profile button">View Profile</button> -->
      </header>
      <h2 class="subtitle is-6">Time to wear the sthethoscope!</h2>

      <div class="columns">
        <div class="column">
          <div class="card p-5 mr-2 transparent">
            <div class="media p-1">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="assets/images/calendar.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title">
                  25
                  <small class="is-size-6 has-text-weight-normal"> / 40 </small>
                </p>
                <p class="subtitle is-7">Today's Appointments</p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card p-5 mx-1 transparent">
            <div class="media p-1">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="assets/images/cancelled-calendar.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title">
                  10
                  <small class="is-size-6 has-text-weight-normal"> / 40 </small>
                </p>
                <p class="subtitle is-7">Cancelled Appointments</p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card p-5 ml-2 transparent">
            <div class="media p-1">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="assets/images/patients.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title"><strong>200</strong></p>
                <p class="subtitle is-7">Total Patients</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-6">
      <h2 class="title is-3 mb-3">Appointments</h2>
      <div class="tabs mb-1">
        <ul>
          <li [ngClass]="{ 'is-active': listingType === ListingType.Day }">
            <a (click)="setListingType(ListingType.Day)">Day</a>
          </li>
          <li [ngClass]="{ 'is-active': listingType === ListingType.Week }">
            <a (click)="setListingType(ListingType.Week)">Week</a>
          </li>
          <li [ngClass]="{ 'is-active': listingType === ListingType.Month }">
            <a (click)="setListingType(ListingType.Month)">Month</a>
          </li>
        </ul>
      </div>
      <div
        class="card p-3 mt-2 mild-transparent"
        *ngFor="let appointment of appointments"
      >
        <div class="columns is-multiline m-0 has-text-centered is-vcentered">
          <div class="column">
            {{ appointment.from }} - {{ appointment.to }}
          </div>
          <div class="column is-narrow mx-4">
            <figure class="image is-48x48">
              <img
                class="is-rounded"
                [src]="appointment.image"
                [alt]="appointment.name"
              />
            </figure>
          </div>
          <div class="column is-one-third has-text-left">
            {{ appointment.name }}
          </div>
          <div class="column is-one-fifth">{{ appointment.id }}</div>
          <div class="column">
            <button
              *ngIf="appointment.completed; else startBtn"
              class="button is-rounded is-success"
            >
              <figure class="image is-16x16">
                <img src="assets/images/complete.png" />
              </figure>
              <span class="pl-2">Completed</span>
            </button>
            <ng-template #startBtn>
              <button class="button is-rounded is-black">
                <figure class="image is-16x16">
                  <img src="assets/images/start.png" />
                </figure>
                <span class="pl-2">Start</span>
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </section>
  </div>

  <ng-template #showPatient>
    <section class="py-4">
      <h1 class="title is-2">Welcome back!</h1>
      <div class="py-4">
        <div class="columns mr-2" style="max-width: 600px">
          <div class="column pr-5">
            <figure class="image is-fullwidth">
              <img
                class="is-rounded"
                src="https://st4.depositphotos.com/1012074/25277/v/600/depositphotos_252773324-stock-illustration-young-avatar-face-with-sunglasses.jpg"
              />
            </figure>
          </div>
          <div class="column">
            <div class="center">
              <p class="title">{{ user.name }}</p>
              <p class="subtitle">{{ user.email }}</p>
              <p class="subtitle">
                {{ user.phoneNumber }}
                <br />
                Age: <strong>{{ user.age }}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <form class="modal-card" #chatbotForm="ngForm">
        <header class="modal-card-head">
          <p class="modal-card-title has-text-centered has-text-white">
            Chatbot
          </p>
        </header>

        <section class="modal-card-body pr-5">
          <div
            *ngFor="let result of results"
            class="box has-text-centered mild-transparent mb-4"
          >
            {{ result }}
          </div>

          <progress
            *ngIf="loadingResult"
            class="progress is-small is-primary"
            max="100"
          ></progress>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Age</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input
                    class="input"
                    type="number"
                    placeholder="Enter your Age"
                    required
                    ngModel
                    name="age"
                    #age="ngModel"
                  />
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Weight</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input
                    class="input"
                    type="number"
                    placeholder="Enter your Weight in kilograms"
                    required
                    ngModel
                    name="weight"
                    #weight="ngModel"
                  />
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">BP</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input
                    class="input"
                    type="number"
                    placeholder="Enter your Blood Pressure"
                    required
                    ngModel
                    name="bp"
                    #bp="ngModel"
                  />
                </p>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot pt-0 pb-5 px-5">
          <div class="field has-addons send">
            <div class="control is-expanded">
              <input
                class="input is-rounded"
                type="text"
                placeholder="Enter your symptoms comma seperated"
                required
                ngModel
                name="symptoms"
                #symptoms="ngModel"
              />
            </div>
            <div class="control">
              <a
                class="button is-dark is-rounded"
                type="submit"
                (click)="query(chatbotForm)"
              >
                Send
              </a>
            </div>
          </div>
        </footer>
      </form>
    </section>
  </ng-template>
</section>
