.media-content {
  overflow: hidden;
}

.button {
  width: 120px !important;
}

.modal-card-head {
  background-color: black;
  height: 12px;
}

.send {
  width: 100%;
}

.modal-card-foot,
.modal-card-body {
  background-color: rgba(0, 0, 0, 0.1);
}
